<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h2>Welcome to Kiwii dashboard!</h2>
    <a class="btn btn-secondary" href="/dashboard">Dashboard</a>
    <a class="btn btn-warning" href="https://discord.gg/ff6dc6XXNt">Discord Server</a>
  </div>
</div>

<%- include("partials/footer") %>